#metadata_content.grid_7.suffix_1.equal_height_columns
  %h1#metadata Metadata
  
  %h2#metadata_ifbl Metadata IFBL1, 2 & 3: Actions for Belgian IFBL Flora Checklists (1939-1971)
  
  %h3#m_i_abstract Abstract
  .blabla
    The data in IFBL 1, 2 & 3 covers all of the IFBL 1 km² flora checklists sampled between 1939 and 1971. About 10000 original lists corresponding with some 1 200 000 data representative of the former distribution of vascular plant species in Belgium, were digitised. The IFBL data is integrated in existing national and regional flora databases and will contribute to the realisation of regional Flora Atlases. The analysis of the digitised data will improve the possibilities to compare floral data over successive periods and will be of help in developing a strategy for reducing the costs and the length of new flora monitoring and mapping projects in the future.
  
  .blabla
    The Atlas of the Flora (Pteridophytes – Spermatophytes) of Belgium and Luxemburg (Van Rompaey & Delvosalle 1972) was the result of the first national flora mapping project (1939- 1971). Unfortunately, the data used to build it were only digitised at a synthetic level (units of 16 km²). To be able to investigate the changes in the flora between the first mapping period and the second (1972 up to now) in all its aspects, especially in relation to environmental factors (climatic, pollution, land use…), the original data was digitized, i.e. the field records on the flora (flora checklists) made within 1km² IFBL squares.
  
  =btt 
  %h3#m_i_methods Methods of digitizing
  .blabla
    The field records consist of printed checklists on which each of the approx. 1800 represented vascular plant species has its own fixed emplacement. After scanning, the data was digitised in a standardized, time-efficient way using GIS software. From a blank checklist, a ‘digital map’ was created. Each ‘area’ on that map coincides with the emplacement of a species on the list and each of those areas is tagged with the species’ name. The scanned lists were loaded into an Arcview project of the digital map. By using the technique of geo-referencing both the scan of the field record and the digital map can be superimposed into a perfect match. Then all areas showing observed species (scored out) on the scan are selected. The selection is saved as a dbf-file. By using an Access interface the serial number, grid-unit, date and observer(s) of each list – information already previously encoded in a database – are imported into an SQL-server database and linked to the species-specific data temporarily saved in the dbf-files. 
  
  =btt  
  %h3#m_i_origin Origin of the collection
  .blabla
    Between 1939 and 1971 professional and non-professional botanists, members of the IFBL, explored the whole of the Belgian territory, recording the local flora. This IFBL-project was one of the first national flora mapping projects in continental Europe. Essentials of the IFBL fieldwork method are (i) the use of printed checklists containing the abbreviated scientific names of all vascular plant taxa, known to be present in Belgium; (ii) the use of a rectangular grid dividing the Belgian territory into units of 1 km2 (= inventory unit); (iii) the more or less systematic exploration of this grid; (iv) information on the exact location and the date of the observations and on the identity of the collector(s). In general: attention went to all possible species, everywhere. For the period 1939-1971 the IFBL-documentation holds some 20 000 numbered recording sheets with data on the Belgian flora, among these 10 000 checklists. The whole dataset was used to prepare the Atlas of the Belgian and Luxemburg flora (Van Rompaey & Delvosalle 1972). For obvious reasons (atlas made entirely by hand and in black and white) the original floristic data could only be represented in a synthesized way by grouping the 1 km2 units into 16 km2 squares.
    
  =btt  
  %h3#m_i_quality Quality and status of the material
  .blabla
    The original field lists are classified in a systematic, ordered and transparent way. Moreover each checklist has been given a unique serial number making its identification easy and unambiguous.
  .blabla
    After 1971 the same flora inventory method has continuously been used, so that the historical and recent data can be compared. However, only the recent floristic data are fully digitised (already published as a new Atlas for Flanders and the Brussels Region in 2006; atlas publication for the Walloon Region planned). So far the original old 1km2 data were never digitised, only the integrated data at the 16 km2 scale were, limiting to a great extent the possibilities for thorough period comparison analyses. 
  
  =btt  
  %h3#m_i_coverage General spatial coverage
  .blabla
    IFBL1, 2 & 3: Actions for Belgian IFBL Flora Checklists deals with the distribution data on the wild flora of Belgium in the time period 1939-1971. Florabank covers an area of 13.682,38 km². Belgium has a temperate maritime climate influenced by the North Sea and the Atlantic Ocean, with relatively moderate summers and mild winters.
  
  =btt
  %h3#m_i_coordinates Coordinates
  .blabla
    49°29'05''N and 51°29'24''N Latitude; 2°31'12''E and 6°12'0''E Longitude
  
  =btt  
  %h3#m_i_keywords Keywords
  .blabla
    vascular plants, tracheophyta, grid mapping, flora, Belgium, indigenous species, archeophytes, naturalised aliens, IFBL
  
  =btt
  %h3#m_i_published Data published through GBIF
  .blabla
    =link_to 'http://www.gbif.org/dataset/940821c0-3269-11df-855a-b8a03c50a862', 'http://www.gbif.org/dataset/940821c0-3269-11df-855a-b8a03c50a862'
  
  =btt  
  %h2#metadata_florabank Florabank1 checklists Metadata
  
  %p.tip Last data update: October 16th, 2014.
  
  %h3#m_f_abstract Abstract
  .blabla
    Florabank1 is the database that deals with the distribution data on the wild flora (indigenous species, archeophytes and naturalised aliens) of Flanders and the Brussels Capital Region. It contains about 3 million records on distribution of vascular plants from 1800 until today. Besides the occurrence data, it also contains  ecological data on vascular plant species, as well as redlist category information, Ellenberg values, legal protection, global distribution, seed bank etc. The database is an initiative of the Flo.Wer ngo, the Research Institute for Nature and Forest (INBO) and the National Botanic Garden of Belgium (NBGB). The purpose of Florabank is first to centralize the botanical distribution data gathered by professional and amateur botanists and second to make the data available in the framework of nature conservation, policy and research. The Florabank is a continuous work in progress and new occurrences are regularly added.
    
  .blabla
    The occurrence data in Florabank originated from checklists, literature and herbarium specimens. Only data from the Checklist data type is visualized on this website. Check http://ipt.inbo.be for the complete Darwin Core Archive (Vascular plants of the Florabank).
    
  .blabla
    For the period between 1972-2004 literature was systematically screened on distribution information looking at the most obvious Belgian botanical journals. The analysis of herbarium specimen from the National Botanic Garden of Belgium, the University of Ghent and the University of Liège provided interesting distribution knowledge concerning rare species. This information was also added in Florabank1. The data in Florabank1 does not contain checklist data recorded before 1972; Every record holds the decimal centroid coordinates of the IFBL square containing the observation. IFBL squares can measure 1 Km² or 4 Km². The Florabank follows the taxonomy as in the 1998 edition of the Belgium Flora (Lambinon et al. 1998).
  
  =btt  
  %h3#m_f_keywords Keywords
  .blabla
    vascular plants, tracheophyta, grid mapping, flora, Flanders, Belgium, indigenous species, archeophytes, naturalised aliens
  =btt  
  %h3#m_f_published Data published through GBIF
  .blabla
    =link_to 'http://ipt.inbo.be/resource.do?r=florabank1','http://ipt.inbo.be/resource.do?r=florabank1'
  =btt  
  %h1#coverage Taxonomic coverage of the Datasets
  .blabla
    The coverage of this database spans the Phylum Tracheophyta or vascular plants. The highest number of records are from the Magnoliopsida (76.48%) followed by Monocotyledones (20.92%), Filicopsida (1.44%), Sphenopsida (0.97%) Coniferopsida (0.13%) and Lycopsida (0.03%). Ginkgopsids are within the scope of Florabank, but do not occur within the geographical scope of the database.
    
  .blabla
    As a taxonomic reference this publication was used: Lambinon (1998).
  =btt  
  %h2#c_ranks Taxonomic ranks
  %h3#c_phylum Phylum
  .blabla 
    Tracheophytes
  =btt  
  %h3#c_class Class
  .blabla
    Coniferopsida, Filicopsida, Ginkgopsida, Liliopsida (Monocotyledones), Lycopsida, Magnoliopsida (Dicotyledones),  Sphenopsida 
  =btt
  %h3#c_order Order
  .blabla
    Pinales, Taxales, Filicales, Marsileales, Ophioglossales, Osmundales, Salviniales, Ginkgoales, Alismatales, Arales, Commelinales, Cyperales, Hydrocharitales, Juncales, Liliales, Najadales, Orchidales, Poales, Pontederiales, Typhales, Typhales, Zingiberales, Isoetales, Lycopodiales, Selaginellales, Apiales, Apiales, Aristolochiales, Asterales, Callitrichales, Campanulales, Capparales, Caryophyllales, Celastrales, Cornales, Cucurbitales, Dipsacales, Elaeagnales, Ericales, Euphorbiales, Fabales, Gentianales, Geraniales, Haloragales, Haloragales, Hamamelidales, Juglandales, Lamiales, Linales, Loganiales, Magnoliales, Malvales, Myricales, Myrtales, Nymphaeales, Oleales, Paeoniales, Papaverales, Piperales, Plantaginales, Plumbaginales, Polemoniales, Polygalales, Polygonales, Primulales, Ranunculales, Rhamnales, Rosales, Rubiales, Rutales, Salicales, Santalales, Sapindales, Sarraceniales, Saxifragales, Scrophulariales, Theales, Thymelaeales, Urticales, Violales, Violales, Gymnospermae, Equisetales
  
  =btt  
  %h3#c_family Family
  .blabla
    Araucariaceae, Cupressaceae, Pinaceae, Taxodiaceae, Taxaceae, Adiantaceae, Aspleniaceae, Blechnaceae, Dennstaedtiaceae, Dryopteridaceae, Hymenophyllaceae, Polypodiaceae, Thelypteridaceae, Woodsiaceae, Marsileaceae, Ophioglossaceae, Osmundaceae, Azollaceae, Salviniaceae, Ginkgoaceae, Alismataceae, Butomaceae, Araceae, Lemnaceae, Commelinaceae, Cyperaceae, Hydrocharitaceae, Juncaceae, Agavaceae, Alliaceae, Amaryllidaceae, Dioscoreaceae, Iridaceae, Liliaceae, Aponogetonaceae, Juncaginaceae, Najadaceae, Potamogetonaceae, Ruppiaceae, Scheuchzeriaceae, Zannichelliaceae, Zosteraceae, Orchidaceae, Poaceae, Pontederiaceae, Sparganiaceae, Typhaceae, Cannaceae, Isoetaceae, Lycopodiaceae, Selaginellaceae, Apiaceae, Araliaceae, Aristolochiaceae, Asteraceae, Callitrichaceae, Campanulaceae, Lobeliaceae, Brassicaceae, Capparaceae, Resedaceae, Aizoaceae, Amaranthaceae, Caryophyllaceae, Chenopodiaceae, Molluginaceae, Nyctaginaceae, Phytolaccaceae, Portulacaceae, Aquifoliaceae, Celastraceae, Cornaceae, Cucurbitaceae, Adoxaceae, Caprifoliaceae, Dipsacaceae, Valerianaceae, Elaeagnaceae, Actinidiaceae, Clethraceae, Empetraceae, Ericaceae, Monotropaceae, Pyrolaceae, Buxaceae, Euphorbiaceae, Caesalpiniaceae, Fabaceae, Betulaceae, Fagaceae, Apocynaceae, Asclepiadaceae, Gentianaceae, Balsaminaceae, Geraniaceae, Limnanthaceae, Oxalidaceae, Tropaeolaceae, Gunneraceae, Haloragaceae, Hippuridaceae, Hamamelidaceae, Platanaceae, Juglandaceae, Boraginaceae, Lamiaceae, Verbenaceae, Linaceae, Buddlejaceae, Calycanthaceae, Magnoliaceae, Malvaceae, Tiliaceae, Myricaceae, Lythraceae, Onagraceae, Trapaceae, Cabombaceae, Ceratophyllaceae, Nymphaeaceae, Oleaceae, Paeoniaceae, Fumariaceae, Papaveraceae, Saururaceae, Plantaginaceae, Plumbaginaceae, Convolvulaceae, Cuscutaceae, Hydrophyllaceae, Menyanthaceae, Polemoniaceae, Solanaceae, Polygalaceae, Polygonaceae, Primulaceae, Berberidaceae, Menispermaceae, Ranunculaceae, Rhamnaceae, Vitaceae, Amygdalaceae, Malaceae, Rosaceae, Rubiaceae, Anacardiaceae, Rutaceae, Simaroubaceae, Zygophyllaceae, Salicaceae, Loranthaceae, Santalaceae, Aceraceae, Hippocastanaceae, Sapindaceae, Staphyleaceae, Droseraceae, Crassulaceae, Grossulariaceae, Hydrangeaceae, Saxifragaceae, Bignoniaceae, Globulariaceae, Lentibulariaceae, Martyniaceae, Orobanchaceae, Pedaliaceae, Scrophulariaceae, Elatinaceae, Hypericaceae, Thymelaeaceae, Cannabaceae, Moraceae, Ulmaceae, Urticaceae, Begoniaceae, Cistaceae, Frankeniaceae, Loasaceae, Passifloraceae, Tamaricaceae, Violaceae, Ephedraceae, Equisetaceae
  
  =btt  
  %h3#c_common Common names
  .blabla
    Vascular plants 
  
  =btt   
    
#sidebar.grid_4.equal_height_columns.sidebox
  %h1#title_toc Content
  %ul
    %li 
      =link_to 'Metadata', '#metadata'
      %ul
        %li 
          =link_to 'Metadata IFBL1, 2 & 3: Actions for Belgian IFBL Flora Checklists (1939-1971)', '#metadata_ifbl'
          %ul
            %li= link_to 'Abstract', '#m_i_abstract'
            %li= link_to 'Methods of digitizing', '#m_i_methods'
            %li= link_to 'Origin of the collection', '#m_i_origin'
            %li= link_to 'Quality and status of the material', '#m_i_quality'
            %li= link_to 'General spatial coverage', '#m_i_coverage'
            %li= link_to 'Coordinates', '#m_i_coordinates'
            %li= link_to 'Keywords', '#m_i_keywords'
            %li= link_to 'Data published through GBIF', '#m_i_published'
        %li
          =link_to 'Florabank1 checklists Metadata', '#metadata_florabank'
          %ul
            %li= link_to 'Abstract', '#m_f_abstract'
            %li= link_to 'Keywords', '#m_f_keywords'
            %li= link_to 'Data published through GBIF', '#m_f_published'
    %li
      =link_to 'Taxonomic coverage of the Datasets', '#coverage'
      %ul
        %li
          =link_to 'Taxonomic ranks', '#c_ranks'
          %ul 
            %li= link_to 'Phylum', '#c_phylum'
            %li= link_to 'Class', '#c_class'
            %li= link_to 'Order', '#c_order'
            %li= link_to 'Family', '#c_family'
            %li= link_to 'Common names', '#c_common'
      
            
          
